<!doctype html>
	<html>
	<style type="text/css">
		div {
			font-family: sans-serif;
			margin: 10px;
		}
		
	</style>

		<head>
  			<title>Game</title>
		</head>

		<body>

			<div>
    		<p>
    			Welcome to the game page!
    		</p>
    		Please provide:
    		</div>
    		<div>
	    		<form action="/madlib">

	    			<div>
					    <label>Person:</label>
					    <input type="text" name="person">
	    			</div>

	    			<div>
					    <label>Color:</label>
					    <input type="text" name="color">
	    			</div>

	    			<div>
					    <label>Noun:</label>
					    <input type="text" name="noun">
	    			</div>

	    			<div>
					    <label>Adjective:</label>
					    <input type="text" name="adjective">
	    			</div>

	    			<div>
	    			 	<input type="submit">
	    			<div>

	    		</form>
    		<div>
		</body>

	</html>